.footer {
	&-bg {
		background: url("../img/footer-bg.png") left center no-repeat;
		background-size: cover;
		padding-top: 110px;
		position: relative;
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(16, 15, 29, .28);
			z-index: -1;
		}
	}

	&__title {
		font-size: 1.3125rem;
		color: $white;
		font-weight: 300;
		margin-bottom: 30px;
	}

	&__link {
		li {
			margin-bottom: .8rem;

			a {
				color: #8f8f8f;
				text-transform: capitalize;
			}
		}
	}

	&__bottom {
		padding: 1.3rem 0;
		margin-top: 65px;

		p {
			margin-bottom: 0;

			a {
				color: $primary-color;
			}
		}

		&.top-border {
			border-top: 1px solid rgb(51, 51, 51);
		}
	}
}
