body {
	font-family: 'Roboto', sans-serif;
	background: $bodyBg;
	color: $text-color;
	font-size: 0.875rem;
	font-weight: 300;
}

h1,
h2,
h3 {
	font-family: 'Oswald', sans-serif;
}

p {
	margin-bottom: 20px;
}

a:hover {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

button {
	cursor: pointer;
}

.btn:focus {
	outline: 0;
	box-shadow: none;
}

.form-control:hover,
.form-control:focus {
	outline: 0;
	box-shadow: none;
}

.owl-carousel .owl-item img {
	width: auto !important;
}

.section-margin {
	margin-top: 60px;
	margin-bottom: 60px;

	@media (min-width: 992px) {
		margin-top: 115px;
		margin-bottom: 115px;
	}
}

.navbar-brand {
	position: absolute;
	z-index: 50;
	top: 0;
	left: 0;
	padding: 0;
	box-shadow: 0px 5px 10px 0px rgba(153, 153, 153, 0.2);

	img {
		width: 70px;
		height: 70px;

		@media (min-width: 1200px) {
			width: 100px;
			height: 100px;
		}
	}
}

.mt-20 {
	margin-top: 20px;
}
.mt-30 {
	margin-top: 30px;
}
