.service {
	&__single {
		padding: 35px 27px;
		background: rgba(255, 255, 255, .10);
		margin-bottom: 30px;

		&Icon {
			margin-right: 20px;
			i,
			span {
				font-size: 24px;
				color: $primary-color;
			}
		}

		h3 {
			font-size: 1.3125rem;
			color: $white;
			font-weight: 300;
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 0;
		}
	}
}
